/*############# | CORPO DO SITE | */
/*#########################################################################*/
body {
    background-image: url('http://ead.aesp.ce.gov.br/pluginfile.php/2/course/section/1/bg_cubo.png');
    background-color: #fff;
    color:#808080;
    padding-top: 50px;
    }
a {
    color:#48896d !important;
    }
a:hover {
    color:#fc6836 !important;
    }
/*############# | BARRA SUPERIOR | */
/*#########################################################################*/
.hr_tit {
    color: #fc6836;
    background-color: #fc6836;
    height: 4px;
    margin:0px;
    padding:0px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index:1002;
    border: none;
    }
.hr_tit2 {
    color: #fff;
    background-color: #fff;
    height: 3px;
    margin:0px;
    padding:0px;
    position: fixed;
    top: 4px;
    left: 0;
    right: 0;
    z-index:1001;
    border: none;
    }
.navbar {
    background-image: linear-gradient(-90deg, rgba(0,133,59,255),rgba(31,79,55,255));
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    z-index:1000;
    }
    a.dropdown-toggle {
        display:block;
        background-color:#dff0d8;
        font-weight: bold;
        text-align:center;	
        color: #48896d;
        margin: 0px 0px; 0px 0px;
        padding: 3px 10px 3px 10px;
        border: 1px solid #fff;
        border-radius: 5px
        }
        a.dropdown-toggle:hover {
            background-color:#fc6836  !important;
            color: #fff   !important;
            }
/*############# | BTN ACESSAR TOPO DIREITA | */
/*#########################################################################*/
ul.nav a.Acessar {
    display:block;
    color: #48896d;
    font-weight: bold;
    background-color:#dff0d8;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
    text-align:center;	
    display:block;
    }
ul.nav a.Acessar:hover {
    background-color:#fc6836  !important;
    color: #fff;
    }
/*############# | BARRA lateral | */
/*#########################################################################*/
#nav-drawer {
background-color: #dff0d8 !important;
}

/*############# | RODAPÉ - FOOTER | */
/*#########################################################################*/
#page-footer {
background-color: #dff0d8 !important;
}
